<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <block name="title"><title>赣州网站建设|网站推广|微网建设|微信开发|萌田网络公司</title></block>
    <block name="keywords"><meta name="keywords" content="赣州网站建设,赣州网站推广,赣州微网建设,赣州微信开发,萌田网络公司"></block> 
    <block name="description"><meta name="description" content="专注编程多年，保质保量做好每一个网站，怀揣着创业的激情！"></block>
    <Link Rel="ICON NAME" href="__PUBLIC__/img/favicon.ico">

    <!-- Bootstrap -->
    <link href="__PUBLIC__/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/main.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/presets/preset1.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/styles.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/1.0.7/iconfont.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/animate.min.css">
    <!-- <link href="./css/.css" rel="stylesheet"> -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
<style type="text/css">
.footer .container .footer-bottom .qrcode{
  width: 258px;
  height: 258px;
  position: absolute;
  top:-270px;
  bottom:10px;
  left:38%;
  display: none;
  z-index:1000;
}
ul li a{
  font-family: 'Microsoft YaHei';
}
h3{
  font-family: 'Microsoft YaHei';
}
</style>
  </head>
  <body>
  <nav class="navbar navbar-dark navbar-fixed-top" role="navigation" style="border-radius:0px;">
  <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand hidden-sm" href="{:U('/index')}"><strong style="font-size:23px;">萌 田 网 络</strong></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" role="navigation">
        <ul class="nav navbar-nav">
          <li class=""><a href="{:U('/websites')}"><strong>网站建设</strong></a></li>
          <li><a href="#"><strong>网站推广</strong></a></li>
          <li><a href="#"><strong>微网建设</strong></a></li>
          <li><a href="#"><strong>微信开发</strong></a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">关于我们</a></li>
          <li><a href="#">联系我们</a></li>
        </ul>
      </div>
  </div>
  </nav>
  <block name="head">
    <div class="jumbotron masthead head" style="background:url(Public/img/bg-dn.jpg) no-repeat center;">
      <div class="container">
        <h1 class="animated fadeInLeftBig" style="color:#fff;">青 春 年 华 </h1>
        <h2 class="animated fadeInRightBig" style="color:#fff;">职 业 建 站</h2>
        <h3 class="animated fadeInLeftBig" style="color:#fff;">热 血 奋 斗</h3>
        <div class="caption"><a data-scroll class="btn btn-start animated fadeInUpBig" href="#We_do">Start now</a></div>
      </div>
    </div>
  </block>
<section id="We_do">
  <div class="container  wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="600ms">
    <h2 style="text-align:center;">What Can We Do ?</h2>
    <h3 style="text-align:center;margin-bottom:20px;">我 们 能 做 什 么 ?</h3>
    <h6 style="text-align:center;">专注编程多年，保质保量做好每一个网站，怀揣着创业的激情！</h6>
    <div class="col-md-3 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms" style="text-align:center;height:350px;">
      <h2 style="text-align:center;margin-bottom:20px;">网站建设</h2>
      <img src="__PUBLIC__/img/right.png">
      <div class="zhezao">
          + 高端品牌网站建设<br><br>
          + 商场网站建设<br><br>
          + 移动手机网站建设<br><br>
          + 营销型网站建设<br>
      </div>
    </div>
    <div class="col-md-3 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms" style="text-align:center;height:350px;">
      <h2 style="text-align:center;margin-bottom:20px;">网站推广</h2>
      <img src="__PUBLIC__/img/right.png">
      <div class="zhezao">
          + 高端品牌网站建设<br><br>
          + 商场网站建设<br><br>
          + 移动手机网站建设<br><br>
          + 营销型网站建设<br>
      </div>
    </div>
    <div class="col-md-3 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms" style="text-align:center;height:350px;">
      <h2 style="text-align:center;margin-bottom:20px;">微网建设</h2>
      <img src="__PUBLIC__/img/right.png">
      <div class="zhezao">
          + 高端品牌网站建设<br><br>
          + 商场网站建设<br><br>
          + 移动手机网站建设<br><br>
          + 营销型网站建设<br>
      </div>
    </div>
    <div class="col-md-3 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms" style="text-align:center;height:350px;">
      <h2 style="text-align:center;margin-bottom:20px;">微信开发</h2>
      <img src="__PUBLIC__/img/right.png">
      <div class="zhezao">
          + 高端品牌网站建设<br><br>
          + 商场网站建设<br><br>
          + 移动手机网站建设<br><br>
          + 营销型网站建设<br>
      </div>
    </div>
  </div>
</section>

<section id="Cases">
  <div class="container" style="text-align:center;">
    <div class="row wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="600ms">
      <h2 style="text-align:center;margin-bottom:20px;margin-top:30px;">Our Cases</h2>
      <h3 style="text-align:center;margin-bottom:20px;">我 们 的 案 例 </h3>
      <ul class="nav nav-tabs" id="myTab">
        <li class="active"><a href="#build">网站建设</a></li>
        <li><a href="#spread">网站推广</a></li>
        <li><a href="#minweb">微网建设</a></li>
        <li><a href="#wechat">微信开发</a></li>
      </ul>
       
      <div class="tab-content wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="600ms">
        <div class="tab-pane active" id="build">
          <div class="col-md-3" style="height:300px;"><img src="__PUBLIC__/img/right.png"></div>
          <div class="col-md-3" style="height:300px;"><img src="__PUBLIC__/img/right.png"></div>
          <div class="col-md-3" style="height:300px;">3</div>
          <div class="col-md-3" style="height:300px;">4</div>
        </div>
        <div class="tab-pane" id="spread">      
          <div class="col-md-3" style="height:300px;"><img src="__PUBLIC__/img/right.png"></div>
          <div class="col-md-3" style="height:300px;">2</div>
          <div class="col-md-3" style="height:300px;">3</div>
          <div class="col-md-3" style="height:300px;">4</div>
        </div>
        <div class="tab-pane" id="minweb">      
          <div class="col-md-3" style="height:300px;">1</div>
          <div class="col-md-3" style="height:300px;">2</div>
          <div class="col-md-3" style="height:300px;">3</div>
          <div class="col-md-3" style="height:300px;">4</div>
        </div>
        <div class="tab-pane" id="wechat">      
          <div class="col-md-3" style="height:300px;">1</div>
          <div class="col-md-3" style="height:300px;">2</div>
          <div class="col-md-3" style="height:300px;">3</div>
          <div class="col-md-3" style="height:300px;">4</div>
        </div>
      </div>   
    </div>
  </div>
</section>

<section id="News">
  <div class="container" style="text-align:center;">
    <div class="row wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="600ms">
      <h2 style="text-align:center;margin-bottom:20px;margin-top:30px;">Our News</h2>
      <h3 style="text-align:center;">新 闻 动 态 </h3>
      <div class="media col-md-4 wow fadeInUp" style="text-align:center;">
      <h4 style="text-align:center;margin-bottom:20px;"><i class="Hui-iconfont" title="最新动态">&#xe6c4;</i>最 新 动 态 </h4>
      <ul style="padding-left:0px;"> 
        <li class="pull-left">
          <a class="pull-left" href="#">
            <img class="media-object" width="64px" height="64px" src="__PUBLIC__/img/right.png">
          </a>
          <div class="media-body">
            <h4 class="media-heading"><a href="">G20峰会在杭州成功召开</a></h4>
            <div class="media">
              大师大师的撒都无法无法发送发顺丰我的去我的请问都去我的请问地区
            </div>
          </div>
        </li>
        <li>
          <a class="pull-left" href="#">
            <img class="media-object" width="64px" height="64px" src="__PUBLIC__/img/right.png">
          </a>
          <div class="media-body">
            <h4 class="media-heading"><a href="">G20峰会在杭州成功召开</a></h4>
            <div class="media">
              ...
            </div>
          </div>
        </li>
        <li>
          <a class="pull-left" href="#">
            <img class="media-object" width="64px" height="64px" src="__PUBLIC__/img/right.png">
          </a>
          <div class="media-body">
            <h4 class="media-heading"><a href="">G20峰会在杭州成功召开</a></h4>
            <div class="media">
              ...
            </div>
          </div>
        </li>
        <li>
          <div class="media-body">
            <h4 class="media-heading"><a href="">G20峰会在杭州成功召开</a></h4>
            <div class="media">
              ...
            </div>
          </div>
        </li>
      </ul>
      </div>
      <div class="media col-md-4 wow fadeInUp" style="text-align:center;">
      <h4 style="text-align:center;margin-bottom:20px;"><i class="Hui-iconfont" title="最新动态">&#xe633;</i>常 见 问 题 </h4>
      <ul style="padding-left:0px;"> 
        <li class="pull-left">
          <a class="pull-left" href="#">
            <img class="media-object" width="64px" height="64px" src="__PUBLIC__/img/right.png">
          </a>
          <div class="media-body">
            <h4 class="media-heading"><a href="">G20峰会在杭州成功召开</a></h4>
            <div class="media">
              ...
            </div>
          </div>
        </li>
        <li>
          <a class="pull-left" href="#">
            <img class="media-object" width="64px" height="64px" src="__PUBLIC__/img/right.png">
          </a>
          <div class="media-body">
            <h4 class="media-heading"><a href="">G20峰会在杭州成功召开</a></h4>
            <div class="media">
              ...
            </div>
          </div>
        </li>
        <li>
          <a class="pull-left" href="#">
            <img class="media-object" width="64px" height="64px" src="__PUBLIC__/img/right.png">
          </a>
          <div class="media-body">
            <h4 class="media-heading"><a href="">G20峰会在杭州成功召开</a></h4>
            <div class="media">
              ...
            </div>
          </div>
        </li>
        <li>
          <div class="media-body">
            <h4 class="media-heading"><a href="">G20峰会在杭州成功召开</a></h4>
            <div class="media">
              ...
            </div>
          </div>
        </li>
      </ul>
      </div>
      <div class="media col-md-4 wow fadeInUp" style="height:350px;text-align:center;">
      <h4 style="text-align:center;margin-bottom:20px;"><i class="Hui-iconfont" title="最新动态">&#xe61e;</i>行 业 资 讯 </h4>
      <ul style="padding-left:0px;"> 
        <li class="pull-left">
          <a class="pull-left" href="#">
            <img class="media-object" width="64px" height="64px" src="__PUBLIC__/img/right.png">
          </a>
          <div class="media-body">
            <h4 class="media-heading"><a href="">G20峰会在杭州成功召开</a></h4>
            <div class="media">
              ...
            </div>
          </div>
        </li>
        <li>
          <a class="pull-left" href="#">
            <img class="media-object" width="64px" height="64px" src="__PUBLIC__/img/right.png">
          </a>
          <div class="media-body">
            <h4 class="media-heading"><a href="">G20峰会在杭州成功召开</a></h4>
            <div class="media">
              ...
            </div>
          </div>
        </li>
        <li>
          <a class="pull-left" href="#">
            <img class="media-object" width="64px" height="64px" src="__PUBLIC__/img/right.png">
          </a>
          <div class="media-body">
            <h4 class="media-heading"><a href="">G20峰会在杭州成功召开</a></h4>
            <div class="media">
              ...
            </div>
          </div>
        </li>
        <li>
          <div class="media-body">
            <h4 class="media-heading"><a href="">G20峰会在杭州成功召开</a></h4>
            <div class="media">
              ...
            </div>
          </div>
        </li>
      </ul>
      </div>
    </div>
  </div>
</section>

<section id="About">
  <div class="container" style="text-align:center;">
    <div class="row">
      <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
      <h2 style="text-align:center;margin-bottom:20px;margin-top:30px;color:#f60;"><strong>About Us</strong></h2>
      <h3 style="text-align:center;color:#f60;">关 于 我 们 </h3>
      </div>
      <div class="col-md-6" style="height:350px;"></div>
      <div class="col-md-6" style="height:350px;"></div>
    </div>
  </div>
</section>

<section id="contact">
<div id="contact-us" class="parallax">
  <div class="container">
  <div class="row">
    <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
    <h2><strong>Contact Us</strong></h2>
    <h3 style="text-align:center;">联 系 我 们 </h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam</p>
    </div>
  </div>
  <div class="contact-form wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
    <div class="row">
    <div class="col-sm-6">
      <form id="main-contact-form" name="contact-form" method="post" action="#">
      <div class="row  wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
        <div class="col-sm-6">
        <div class="form-group">
          <input type="text" name="name" class="form-control" placeholder="您的名字( Name )" required="required">
        </div>
        </div>
        <div class="col-sm-6">
        <div class="form-group">
          <input type="email" name="email" class="form-control" placeholder="您的邮箱地址( Email Address )" required="required">
        </div>
        </div>
      </div>
      <div class="form-group">
        <input type="text" name="subject" class="form-control" placeholder="项目( Subject )" required="required">
      </div>
      <div class="form-group">
        <textarea name="message" id="message" class="form-control" rows="4" placeholder="您的需求( Enter your message )" required="required"></textarea>
      </div>                        
      <div class="form-group">
        <button type="submit" class="btn-submit">Send Now</button>
      </div>
      </form>   
    </div>
    <div class="col-sm-6">
      <div class="contact-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
      <p></p>
      <ul class="address">
        <li><i class="fa fa-map-marker"></i> <span> 地址：</span>  赣 州 市 章 贡 区</li>
        <li><i class="fa fa-map-marker"></i> <span> Address:</span> Zhanggong District of Ganzhou City </li>
        <li><i class="fa fa-phone"></i> <span> 电话:</span>  17051209306 </li>
        <li><i class="fa fa-phone"></i> <span> Phone:</span>  17051209306 </li>
        <li><i class="fa fa-envelope"></i> <span> Email:</span><a href="mailto:473203432@qq.com"> 473203432@qq.com</a></li>
        <li><i class="fa fa-globe"></i> <span> Website:</span> <a href="http://www.yotoai.com" target="_black">www.yotoai.com</a></li>
      </ul>
      </div>                            
    </div>
    </div>
  </div>
  </div>
</div>        
</section>

    <section class="apps-section section text-center">
        <h2 class="section-title wow fadeInUp">Friendly Link</h2>
        <h4 class="section-title wow fadeInUp">友情链接</h4>
        <div class="container wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
            <ul class="apps-list">
                <li><a class="btn" href="http://www.yotoai.com" target="_black">赣州网站建设</a></li>
                <li><a class="btn" href="http://www.yotoai.com" target="_black">赣州网站建设</a></li>
                <li><a class="btn" href="http://www.yotoai.com" target="_black">赣州网站建设</a></li>
                <li><a class="btn" href="http://www.yotoai.com" target="_black">赣州网站建设</a></li>
            </ul>
        </div>
    </section>

 <!-- ******FOOTER****** --> 
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col col-xs-6 col-md-3">
                    <div class="footer-col-inner">
                        <h3 class="col-title">关于</h3>
                        <ul class="footer-menu list-unstyled">
                            <li><a href="#">关于萌田</a></li>
                            <li><a href="#">萌田blog</a></li>
                            <li><a href="#">招贤纳士</a></li>
                            <li><a href="#">萌田资讯</a></li>
                            <li><a href="#">联系我们</a></li>
                        </ul>
                    </div><!--//footer-col-inner-->
                </div><!--//footer-col-->
                <div class="footer-col col-xs-6 col-md-3">
                    <div class="footer-col-inner">
                        <h3 class="col-title">产品</h3>
                        <ul class="footer-menu list-unstyled">
                            <li><a href="#">产品特点</a></li>
                            <li><a href="#">使用教程</a></li>
                            <li><a href="#">支持中心</a></li>
                            <li><a href="#">价格</a></li>
                            <li><a href="#">客户人群</a></li>
                        </ul>
                    </div>
                </div><!--//footer-col-->
                <div class="footer-col col-xs-6 col-md-3">
                    <div class="footer-col-inner">
                        <h3 class="col-title">链接 Links</h3>
                        <ul class="footer-menu list-unstyled">
                            <li><a href="#">友情链接</a></li>
                            <li><a href="#">加入我们</a></li>
                            <li><a href="#">FAQs</a></li>
                        </ul>
                    </div>
                </div><!--//footer-col-->
                <div class="footer-col col-xs-6 col-md-3">
                    <div class="footer-col-inner">
                        <h3 class="col-title">法定权利</h3>
                        <ul class="footer-menu list-unstyled">
                            <li><a href="#">隐私保护</a></li>
                            <li><a href="#">服务条款</a></li>
                            <li><a href="#">策略</a></li>
                        </ul>
                    </div>
                </div><!--//footer-col-->
            </div><!--//row-->
            <div class="divider"></div>
            <div class="footer-bottom text-center">
                <ul class="social-media list-inline" style="position:relative;">
                  <div class="qrcode"><img src="__PUBLIC__/img/qrcode_for_zuimeichongyi.jpg"></div>
                    <li><a href="#"><i id="qr" class="Hui-iconfont" title="微信">&#xe694;</i></a></li>     
                    <li><a href="http://weibo.com/yotoai" target="_blank"><i class="Hui-iconfont" title="新浪微博">&#xe6da;</i></a></li>   
                </ul>
                <small class="copyright">Copyright &copy; 2016.萌田网络 All Rights Reserved.</small> <p><a style="font-family:'微软雅黑';" href="http://www.miitbeian.gov.cn/" target="_blank">赣ICP备16007730号 </a><script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1260933047'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1260933047%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script></p> 
            </div>
        </div><!--//container-->
    </footer><!--//footer-->
<script src="__PUBLIC__/js/jquery-1.11.1.min.js"></script>
<script src="__PUBLIC__/js/bootstrap.min.js"></script>
<script type="text/javascript">
$(function(){
$(document.body).css('overflow-x','hidden');
});
</script>
<script>
var $backToTopEle=$('<a href="javascript:void(0)" class="Hui-iconfont toTop" title="返回顶部" alt="返回顶部" style="display:none">&#xe684;</a>').appendTo($("body")).click(function(){
$("html, body").animate({ scrollTop: 0 }, 390);
});
var $backToTopFun = function() {
var st = $(document).scrollTop(), winh = $(window).height();
(st > 0)? $backToTopEle.show(): $backToTopEle.hide();
/*IE6下的定位*/
if(!window.XMLHttpRequest){
$backToTopEle.css("top", st + winh - 156);
}
};
$(function(){$(window).on("scroll",$backToTopFun);$backToTopFun();});  
$('#myTab a').click(function (e) {
e.preventDefault();
$(this).tab('show');
});
</script>
<script type="text/javascript" src="__PUBLIC__/js/wow.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/mousescroll.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/main.js"></script>
<script type="text/javascript">
setInterval(function(){
if($(window).width() < 750)
{
$(".jumbotron > div > h1").css('color','#00ccff');
}else{
$(".jumbotron > div > h1").css('color','white');
}
},10);
$(".col-md-3").each(function(){
$(this).hover(function(){
// $(this).find('.zhezao').css('display',"block");
$(this).find('.zhezao').stop().toggle('100');
},function(){
$(this).find('.zhezao').stop().toggle('100');
// $(this).find('.zhezao').css('display',"none");
})
});
</script>
<script type="text/javascript">
$("#qr").mouseenter(function(){
  $(".qrcode").fadeToggle();
});
$("#qr").mouseleave(function(){
  $(".qrcode").fadeToggle();
});
</script>
  </body>
</html>