<extend name="index" />
	<block name="title"><title>赣州网站建设|萌田网络公司</title></block>
	<block name="keywords"><meta name="keywords" content="赣州网站建设,赣州微网建设,萌田网络公司"></block>     
	<block name="description"><meta name="description" content="专注网站建设编程多年，保质保量做好每一个网站，怀揣着创业的激情！努力让每一个客户满意。"></block>  
	
	<block name="head">
		<div class="jumbotron masthead head" style="background:url(Public/img/bg-dn.jpg) no-repeat center;">
     		<div class="container">
		        <h1 class="animated fadeInLeftBig" style="color:#fff;">网站服务一站式，开速软件新标杆 </h1>
		        <h2 class="animated fadeInRightBig" style="color:#fff;">职 业 建 站</h2>
		        <h3 class="animated fadeInLeftBig" style="color:#fff;">热 血 奋 斗</h3>
		        <div class="caption"><a data-scroll class="btn btn-start animated fadeInUpBig" href="#We_do">Start now</a></div>
	        </div>
  		</div>
  </block>