<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="Bookmark" href="/favicon.ico" >
<link rel="Shortcut Icon" href="/favicon.ico" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/H-ui.admin.css" />
<link href="__PUBLIC__/lib/Hui-iconfont/1.0.7/iconfont.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/style.css" />
<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<!--/meta 作为公共模版分离出去-->

<title>添加角色-萌田网络</title>
<meta name="keywords" content="崇义建站,微信开发,网站优化,萌田网络">
<meta name="description" content="萌田网络科技后台管理系统，萌田网路科技是一件专注网络，网站开发的服务商">
</head>
<body>
<article class="page-container">
	<form action="" method="post" class="form form-horizontal" id="form-admin-role-add">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>角色名称：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="" placeholder="" id="" name="title">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">备注：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="" placeholder="" id="" name="des">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">网站角色：</label>
			<div class="formControls col-xs-8 col-sm-9">
					{$rulestr}
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<button type="button" class="btn btn-success radius" id="admin-role-save" name="admin-role-save"><i class="icon-ok"></i> 确定</button>
			</div>
		</div>
	</form>
</article>

<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="__PUBLIC__/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/lib/layer/2.1/layer.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/H-ui.js"></script> 
<script type="text/javascript" src="__PUBLIC__/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">
$(function(){
	$(".permission-list dt input:checkbox").click(function(){
		$(this).closest("dl").find("dd input:checkbox").prop("checked",$(this).prop("checked"));
	});
	$(".permission-list2 dt input:checkbox").click(function(){
		console.log($(this).prop("checked"));
		if($(this).prop("checked")){
			$(this).parents(".permission-list").find("dt input:checkbox").first().prop("checked",true);
		}
		else{
			$(this).parents(".permission-list").find("dt input:checkbox").first().prop("checked",false);
		}
	});
	$(".permission-list2 dd input:checkbox").click(function(){
		var l =$(this).parent().parent().find("input:checked").length;
		var l2=$(this).parents(".permission-list").find(".permission-list2 dd").find("input:checked").length;
		if($(this).prop("checked")){
			$(this).closest("dl").find("dt input:checkbox").prop("checked",true);
			$(this).parents(".permission-list").find("dt").first().find("input:checkbox").prop("checked",true);
		}
		else{
			if(l==0){
				$(this).closest("dl").find("dt input:checkbox").prop("checked",false);
			}
			if(l2==0){
				$(this).parents(".permission-list").find("dt").first().find("input:checkbox").prop("checked",false);
			}
		}
	});
});
$('#admin-role-save').click(function(){
	var title = $.trim($("input[name='title']").val());
	if(title == '')
	{
		layer.msg('请输入角色名称！',{icon:0,time:1500});
		$("input[name='title']").focus();
		return false;
	}
	var arr = new Array();
	$('input:checked').each(function(){
		arr.push($(this).val());
	});
	if(arr.length == 0)
	{
		layer.msg('请分配角色权限！',{icon:0,time:1500});
		return false;
	}
	$.ajax({
		type:'post',
		url:"{:U('Role/addrole')}",
		data:{title:title,des:$("input[name='des']").val(),rules:arr.join()},
		success:function(data){
			if(data.flag == true)
			{
				layer.msg(data.msg,{icon:1,time:1500});
				setTimeout(function(){
					parent.location.reload();
				},1300);
				return false;
			}
			else if(data.flag == false)
			{
				layer.msg(data.msg,{icon:0,time:1500});
				return false;
			}
			else
			{
				layer.msg('未知错误！',{icon:0,time:1500});
				return false;
			}
		}
	})
});
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>