<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/H-ui.admin.css" />
<link href="__PUBLIC__/lib/Hui-iconfont/1.0.7/iconfont.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/style.css" />
<link rel="stylesheet" href="__PUBLIC__/lib/zTree/v3/css/zTreeStyle/zTreeStyle.css" type="text/css">
<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>权限管理</title>
</head>
<body>
<div class="pos-a" style="width:200px;left:0;top:0; bottom:0; height:100%; border-right:1px solid #e5e5e5; background-color:#f5f5f5;padding:5px;">
	<ul id="LeftTree" class="ztree">
	</ul>
</div>
<div style="margin-left:200px;">
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 管理员管理 <span class="c-gray en">&gt;</span> 权限管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container pl-20 pr-20">
	  <div class="text-c pt-10 pl-20 pr-20 pb-5"> 日期范围：
        <input type="text" onfocus="WdatePicker({maxDate:'#F{ $dp.$D(\'logmax\')||\'%y-%M-%d\'}', onpicked:function(){table.fnFilter();}})"  name="mintime" id="logmin" class="input-text Wdate" style="width:186px;">
        -
        <input type="text" onfocus="WdatePicker({minDate:'#F{ $dp.$D(\'logmin\')}',maxDate:'%y-%M-%d', onpicked:function(){table.fnFilter();}})"  name="maxtime" id="logmax" class="input-text Wdate" style="width:186px;">&nbsp;&nbsp;
        <input type="search" class="input-text" style="width:250px" placeholder="权限名称等..." id="conditions" name="conditions"  aria-controls="DataTables_Table_0"><button type="button" class="btn btn-success radius ml-5" id="button" name="" onclick="javascript:table.fnFilter();"><i class="Hui-iconfont">&#xe665;</i> 搜权限</button>
  </div>
	<div class="cl pd-5 bg-1 bk-gray mt-5"> <span class="l"><!-- <a href="javascript:;" onclick="datadel(this)" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a> --> <a href="javascript:;" onclick="admin_permission_add('添加权限节点',`{:U('Role/addrule')}`,'','360')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加权限节点</a></span>  </div>
	<table class="table table-border table-bordered table-bg table-sort">
		<thead>
			<tr>
				<th scope="col" colspan="7">权限节点</th>
			</tr>
			<tr class="text-c">
				<th width="25"><input type="checkbox" name="" value=""></th>
				<th width="40">ID</th>
				<th width="120">权限名称</th>
				<th width="150">字段名</th>
				<th>备注</th>
				<th width="100">添加时间</th>
				<th width="150">操作</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>
</div>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="__PUBLIC__/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/lib/layer/2.1/layer.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/H-ui.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/commonfunctions.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__PUBLIC__/lib/zTree/v3/js/jquery.ztree.all-3.5.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/lib/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="__PUBLIC__/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript">
var table = $('.table-sort').dataTable({
		"aaSorting": [[ 1, "desc" ]],
		"sDom": '<"top">t<"bottom"iflpr><"clear">',
		bDeferRender:true,
        processing: true,
            serverSide: true,
            ajax: {
                "url":"{:U('Role/rulelist')}",
                "data":function(d){    //额外传递的参数
                    d.mintime = $('#logmin').val();
                    d.maxtime = $('#logmax').val();
                    d.conditions = $("#conditions").val();
                }
            },
            bStateSave: true,//状态保存
            aLengthMenu : [10, 20, 30, 50, 100, 150],
            bProcessing : true,
            bAutoWidth: false,
            bFilter : false, //是否启动过滤、搜索功能
            bInfo : true, //是否显示页脚信息，DataTables插件左下角显示记录数 
			bStateSave: false, // 不保留搜索条件
            createdRow: function ( row, data, index) {
                $(row).addClass('text-c');
            },
            aoColumns: [
                {
                    "sClass": "text-center",
                    "data": "id",
                    "render": function (data, type, full, meta) {
                        return '<input type="checkbox"  name="select"  value="' + data + '" />';
                    },
                    "bSortable": false
                },
                { "mData": "id" },
                { "mData": "title" },
                { "mData": "name" },
                { "mData": "des" },
                { "mData": "addtime"},
                {
                    "sClass": "text-center",
                    "data": "id",
                    "render": function (data, type, full, meta) {
                    	var html = "";
                        html = '<a style="text-decoration:none" class="ml-5 btn" onClick="admin_permission_edit(`权限编辑`,'+data+',``,`360`)" href="javascript:;" title="编辑"><i class="Hui-iconfont">&#xe6df;</i>编辑</a> <a style="text-decoration:none" class="ml-5 btn" onClick="admin_permission_del(this,'+data+');" href="javascript:;" title="删除"><i class="Hui-iconfont">&#xe6e2;</i>删除</a>';
                        return html;
                    },
                    "bSortable": false
                }
            ]
    });
</script>
<script type="text/javascript">
var setting = {
	async: {
		enable: true,
		url: CreateTree,
		//autoParam: ["id"]
	},
	view: {
		dblClickExpand: true,
		showLine: true,
		selectedMulti: false
	},
	data: {
		simpleData: {
			enable:true,
			idKey: "id",
			pIdKey: "pid",
			rootPId: ""
		},
		key:{
			name:"title"
		}
	},
	callback: {
		beforeClick: function(treeId, treeNode) {
			zTree = $.fn.zTree.getZTreeObj("LeftTree");
			if (treeNode.isParent) {
				zTree.expandNode(treeNode);
				return false;
			} else {
				// demoIframe.attr("src",treeNode.file + ".html");
				// return true;
			}
		}
	}
};	

$(document).ready(function(){
	CreateTree();
});
function CreateTree()
{
	var t = $("#LeftTree");
	$.ajax({
		type:"post",
		url:"{:U('Role/getRuleTree')}",
		success:function(data){
			t = $.fn.zTree.init(t, setting, data);
			zTree = $.fn.zTree.getZTreeObj("LeftTree");
			//zTree.expandAll(true);
		}
	});
}
</script>
<script type="text/javascript">
/*
	参数解释：
	title	标题
	url		请求的url
	id		需要操作的数据id
	w		弹出层宽度（缺省调默认值）
	h		弹出层高度（缺省调默认值）
*/
/*管理员-权限-添加*/
function admin_permission_add(title,url,w,h){
	if(isHaveAuth(url)){
		layer_show(title,url,w,h);
	}
}
/*管理员-权限-编辑*/
function admin_permission_edit(title,id,w,h){
	var url = "{:U('Role/editrule')}";
	if(isHaveAuth(url)){
		url = url +"?id="+id;
		layer_show(title,url,w,h);
	}
}

/*管理员-权限-删除*/
function admin_permission_del(obj,id){
	layer.confirm('确认要删除吗？',function(index){
		$.ajax({
			type: 'post',
			url: "{:U('Role/delrule')}",
			dataType: 'json',
			data:{id:id},
			success: function(data){
				if(data.flag == true)
				{
					$('.table-sort').dataTable().fnClearTable();
					CreateTree();
					layer.msg(data.msg,{icon:1,time:1500});
					return false;
				}
				else if(data.flag == false)
				{
					layer.msg(data.msg,{icon:0,time:1500});
					return false;
				}
				else
				{
					layer.msg('位置错误！',{icon:0,time:1500});
					return false;
				}
			},
			error:function(data) {
				console.log(data.msg);
			},
		});		
	});
}
</script>
</body>
</html>