<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>个人简历 - 陈浦勇</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">个人简历</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#base">基本信息</a></li>
        <li><a href="#edu">教育经历</a></li>
        <li><a href="#work">工作经历</a></li>
        <li><a href="#view">自我评价</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="row base">
  <div class="container">
    <div class="col-md-3">
      <h4 id="base">个人基本资料</h4>
      <ul>
        <li><span>姓名：</span>陈浦勇</li>
        <li><span>性别：</span>男</li>
        <li><span>年龄：</span>23</li>
        <li><span>手机号码：</span><a href="tel:18279409347">18279409347</a></li>
        <li><span>QQ号：</span>473203432</li>
        <li><span>邮箱：</span>473203432@qq.com</li>
      </ul>
    </div>
    <div class="col-md-3" id="edu">
      <h4>教育经历</h4>
      <ul>
        <li><span>学历：</span>本科</li>
        <li><span>所学专业：</span>计算机科学与技术</li>
        <li><span>毕业院校：</span>东华理工大学</li>
        <li><span>外语水平：</span>英语三级</li>
        <li><span>计算机：</span>熟练</li>
        <li><span>所属行业：</span>IT计算机类</li>
      </ul>
    </div>
    <div class="col-md-3" id="work">
      <h4>工作经历</h4>
      <ul>
        <li><span>起止时间：</span>2016.7-2016.9</li>
        <li><span>公司名称：</span>XXX网络科技有限公司</li>
        <li><span>部门：</span>技术部</li>
        <li><span>职位：</span>程序员</li>
        <li><span>工作职责：</span>负责后台代码编写</li>
        <li><span>月薪：</span>2800</li>
      </ul>
    </div>
    <div class="col-md-3" id="view">
      <h4>自我评价</h4>
      <ul>
        <li><span>性格：</span>有些内向</li>
        <li><span> &nbsp;</span>乐观向上</li>
        <li><span> &nbsp;</span>积极</li>
        <li><span>技术方面：</span>熟悉PHP+MySQL操作</li>
        <li><span> &nbsp;</span>熟悉TP3.2框架,</li>
        <li><span> &nbsp;</span>DIV+CSS,js,jq,ajax等</li>
      </ul>
    </div>
  </div>
</div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery-1.11.1.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>